[Desktop Entry]
Version=1.0
Name=Linear
Comment=Linear
Exec=omarchy-launch-webapp https://linear.app/seltz/
Terminal=false
Type=Application
Icon=/home/aljohri/.local/share/applications/icons/Linear.png
StartupNotify=true
